<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset = 'UTF-8'>
    <title>Movies</title>

    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>

    <script src="static/js/app.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/style.css">

  </head>

<body>
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true"
              aria-expanded="false">Tableau</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/tableau">Visualization 1</a>
              <a class="dropdown-item" href="/tableau2">Visualization 2</a>
              <a class="dropdown-item" href="/tableau3">Visualization 3</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/machine_learning">Machine Learning</a>
          </li>
          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true"
              aria-expanded="false">Data Info</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/source_data">Data Table</a>
              <a class="dropdown-item" href="/works_cited">Work Cited</a>
              <a class="dropdown-item" href="/pdf">Executive Summary</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about_us">About Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="intro">
    <h1>Movie Magic</h1>
    <div class="project">
      <div class="work">
      <p class="work-text">Welcome to our movie visualization project.</p>
      <p class="work-text">The navigation bar can be used to move between our various data visualizations: three tableau dashboards and a machine learning program.</p>
      <p class="work-text">We have also included a page containing our intial data resources, a summary of our project, and an about us.</p>
      <p class="work-text">We hope you enjoy!</p>
      </div>
    </div>
  </div>
    <div class="project">
      <div class="work">
        <i class="fas fa-project-diagram"></i>
        <p class="work-heading">Project</p>
        <p class="work-text">We decided to do our project over the success rates of movies to see what contributes to a movies success the most.</p>
      </div>
      <div class="work">
        <i class="fas fa-bullseye"></i>
        <p class="work-heading">Objective</p>
        <p class="work-text">Our goal is to give a fun, interactive page that shows users how successful a movie can be.</p>
      </div>
      <div class="work">
        <i class="fas fa-digital-tachograph"></i>
        <p class="work-heading">Deliverables</p>
        <p class="work-text">As a way to display our findings, we have provided several interactive graphs and a generator.</p>
      </div>
    </div>
    <div class="about-volcanoes">
      <div class="about-volcanoes-text">
        <h2>About the data</h2>
        <p>The data supplies our users with a variety of selections from genres to budget of a movie to experience making their own movie, try it out and see if your movie is successful!</p>
      </div>
      <!--<img src= pictures/film.jpg>-->
    </div>
  </main>
</body>
</html>

